.mainHeader {
  @include Background(url(../imgs/mainShowcase.jpg));
  //Responsive
  @include Mobile {
    height: 40vh;
  }
  .mainNav {
    @include FlexDisplay(row, space-evenly, center);
    width: 100%;
    height: auto;
    border-top: 6px solid $lteRed;
    //Responsive
    @include Tablet {
      @include FlexDisplay(column, space-evenly, center);
    }
    .headLogo {
      width: 20%;
      //Responsive
      @include Tablet {
        width: 100%;
        text-align: center;
      }
      a {
        font-family: $secTitle;
        font-size: 40px;
        color: white;
        transition: 0.6s;
        //Responsive
        @include lgLaptop {
          font-size: 30px;
        }
        @include Tablet {
          font-size: 40px;
        }
      }
      a:hover {
        color: $lteRed;
      }
    }
    .pgNavigation {
      @include FlexDisplay(row, space-evenly, unset);
      width: 50%;
      //Responsive
      @include Tablet {
        width: 60%;
        margin-top: 10px;
      }
      @include Mobile {
        margin-left: -10px;
      }
      li {
        a {
          font-family: $primary-font;
          font-size: 22px;
          font-weight: lighter;
          color: $lmeGreen;
          text-transform: capitalize;
          transition: 0.6s;
          //Responsive
          @include Laptop {
            font-size: 18px;
            padding-left: 10px;
          }
          @include Tablet {
            font-size: 20px;
          }
          @include Mobile {
            font-size: 14px;
          }
          @include medMobile {
            font-size: 12px;
          }
        }
        a:hover {
          border-bottom: 1px solid $lteRed;
          padding-bottom: 4px;
        }
      }
    }
    .headSocialLinks {
      //Responsive
      @include Tablet {
        margin-top: 10px;
      }
      .headsocIcons {
        font-size: 20px;
        color: white;
        padding-left: 10px;
      }
    }
  }
  .headerWelcome {
    margin-top: 200px;
    text-align: center;
    //Responsive
    @include Mobile {
      margin-top: 20px;
    }
    .miniTitle {
      @include miniTitle;
      //Responsive
      @include Mobile {
        font-size: 20px;
      }
    }
    .mainTitle {
      @include mainTitle(white, 60px);
      //Responsive
      @include Mobile {
        font-size: 30px;
        padding-bottom: 20px;
      }
    }
    a {
      @include lnkBtns(white);
      //Responsive
      @include Mobile {
        font-size: 14px;
        padding: 6px;
      }
    }
    a:hover {
      background-color: $lteRed;
    }
  }
}
